{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face {
            font-family: 'SansForgetica';
            src: url('/fonts/SansForgetica-Regular.otf') format('truetype');
        }
        @font-face {
            font-family: 'ProspectusPro';
            src: url('/fonts/ProspectusProLDEMO-Regular.otf') format('opentype');
            font-style: normal;
        }
        @font-face {
            font-family: 'ProspectusPro';
            src: url('/fonts/ProspectusProLDEMO-BlackItalic.otf') format('opentype');
            font-style: italic;
        }

        @font-face {
            font-family: 'Lehigh_Personal';
            src: url('/fonts/Lehigh-Personal-Regular.otf') format('truetype');
        }
        @font-face {
            font-family: 'Built Titling';
            src: url('/fonts/built-titling-rg.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Built Titling';
            src: url('/fonts/built-titling-rg-it.ttf') format('truetype');
            font-weight: normal;
            font-style: italic;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('styles/bilan.css') }}">
{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bilan mandat cyclable</h1>
        <div class="floatright">
            <img src="https://velo-cite.org/wp-content/uploads/2023/10/cropped-VELO-CITE-2023_couleur-horizontal-1.png" width="164" height="56" alt="">
        </div>
        <h2>Actions du mandat 2020-2025 de {{ data.city }}</h2>
        <header>
            <div class="barometre-container">
                <div class="barometre-logo">
                    <span class="barometre-title">{{ data.city }}</span>
                </div>
                <div class="barometre-scale">
                    <div class="barometre-label barometre-a-plus"><span>> 85%</span> <span class="letter">A+</span></div>
                    <div class="barometre-label barometre-a"><span>70% - 85%</span> <span class="letter">A</span></div>
                    <div class="barometre-label barometre-b"><span>55% - 70%</span> <span class="letter">B</span></div>
                    <div class="barometre-label barometre-c"><span>40% - 55%</span> <span class="letter">C</span></div>
                    <div class="barometre-label barometre-d"><span>25% - 40%</span> <span class="letter">D</span></div>
                    <div class="barometre-label barometre-e"><span>10% - 25%</span> <span class="letter">E</span></div>
                    <div class="barometre-label barometre-f"><span>5% - 10%</span> <span class="letter">F</span></div>
                    <div class="barometre-label barometre-g"><span>< 5%</span> <span class="letter">G</span></div>
                </div>

                <!-- Indicateur noir pour la note -->
                {% if data.bilanGlobal.noteLetter|lower == 'a+' %}
                    {% set note = 'a-plus'  %}
                {% else %}
                    {% set note = data.bilanGlobal.noteLetter|lower %}
                {% endif %}
                <div class="barometre-indicator barometre-indicator--note-{{ note }}">
                    {{ data.bilanGlobal.noteGlobaleAvecBonus }}% {{ data.bilanGlobal.noteLetter }}
                </div>
                <div class="barometre-footer">
                    Baromètre FUB 2021 : {{ data.noteBarometre2021() }}*<br>
                    <small>*Barème différent</small>
                </div>
            </div>
            <div>
{#                <h1>#}
{#                    {{ data.city }}#}
{#                </h1>#}
                <img src="{{ asset('Carte BxM-01.jpg') }}" alt="" height="auto" width="350">
            </div>
        </header>
        <h2>Bilan des actions</h2>
        <div class="bilan-des-actions">
            {% if data.bilanGlobal.noteLetter|lower == 'a+' %}
                {% set note = 'a-plus'  %}
            {% else %}
                {% set note = data.bilanGlobal.noteLetter|lower %}
            {% endif %}
            <div class="action action-note-{{ note }}">
                <span class="noteLetter">{{ data.bilanReVE.lettreNote }}</span>
                ReVE<br>
                <small>{{ data.bilanGlobal.reve }}% (moy. {{ averages.averageBilanReVE }}%)</small>
            </div>
            <div class="action">
                {% if data.bilanGlobal.amenagement > 0 %}
                    ↗ +
                {% else %}
                    ↘
                {% endif %}
                {{ data.bilanGlobal.amenagement }}%<br>
                Aménagement<br>
            </div>
            {% if data.bilanIntermodalite.lettreNote|lower == 'a+' %}
                {% set note = 'a-plus'  %}
            {% else %}
                {% set note = data.bilanIntermodalite.lettreNote|lower %}
            {% endif %}
            <div class="action action-note-{{ note }}">
                <span class="noteLetter">{{ data.bilanIntermodalite.lettreNote }}</span>
                Intermodalité<br>
                <small>{{ data.bilanGlobal.intermodalite }}% (moy. {{ averages.averageBilanIntermodalite }}%)</small>
            </div>
            {% if data.bilanVilleApaisee.lettreNote|lower == 'a+' %}
                {% set note = 'a-plus'  %}
            {% else %}
                {% set note = data.bilanVilleApaisee.lettreNote|lower %}
            {% endif %}
            <div class="action action-note-{{ note }}">
                <span class="noteLetter">{{ data.bilanVilleApaisee.lettreNote }}</span>
                Ville apaisée<br>
                <small>(moyenne : {{ averages.averageBilanVilleApaisee }}%)</small>
            </div>
            {% if data.bilanGenerationVelo.lettreNote|lower == 'a+' %}
                {% set note = 'a-plus'  %}
            {% else %}
                {% set note = data.bilanGenerationVelo.lettreNote|lower %}
            {% endif %}
            <div class="action action-note-{{ note }}">
                <span class="noteLetter">{{ data.bilanGenerationVelo.lettreNote }}</span>
                Génération vélo<br>
                <small>{{ data.bilanGlobal.generationVelo }}% (moy. {{ averages.averageBilanGenerationVelo }}%)</small>
            </div>
            <div class="action">
                {{ data.bilanGlobal.autre }}%<br>
                Action mairie<br>
                <small>(moyenne : {{ averages.averageBilanActionsMairie }}%)</small>
            </div>
        </div>
        <h2>Toutes les infos</h2>
        <h3>ReVE</h3>
        <h4 class="with-question-legend">Correspondance du ReVE avec le plaidoyer Vélo-Cité</h4>
        <p class="question-legend">
            (études reçues par Vélo-Cité aux 01/03/2025)
        </p>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">
                    Nombre de ligne :
                    <p class="question-legend">
                        (itinéraire correspondant aux attentes)
                    </p>
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.nombreDeLigneCorrespondant }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Desserte de points d'intérêt majeur :
                    <p class="question-legend">
                        (gare, mairie, différents lieux de la ville, etc.)
                    </p>
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.dessertePointsInteretMajeur ? 'Oui' : 'Non' }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Desserte centre-ville :
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.desserteCentreVille ? 'Oui' : 'Non' }}
                </div>
            </div>
        </div>
        <h4 class="with-question-legend">Actions pour la construction du ReVE</h4>
        <p class="question-legend">
            (études reçues par Vélo-Cité aux 01/03/2025)
        </p>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">
                    À l'étude
                    <p class="question-legend">
                        (au moins un tronçon du ReVE est à l'étude)
                    </p>
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.constructionALEtude ? 'Oui' : 'Non' }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Entièrement à l'étude
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.constructionEntierementALEtude ? 'Oui' : 'Non' }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Commencée
                    <p class="question-legend">
                        (des travaux ont commencé pour le déploiement du réseau)
                    </p>
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.constructionCommencee ? 'Oui' : 'Non' }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Terminée
                    <p class="question-legend">
                        (l'ensemble du réseau est terminé pour la ville)
                    </p>
                </div>
                <div class="reponse">
                    {{ data.bilanReVE.constructionTerminee ? 'Oui' : 'Non' }}
                </div>
            </div>
        </div>
        <div style='page-break-after: always;'> </div>
        <h3 class="with-question-legend no-margin-top">Aménagement</h3>
        <ul class="question-legend">
            <li> Notes calculées par Vélo-Cité en se basant sur l'Open Data de Bordeaux Métropole</li>
            <li> Différents facteurs jouent sur les notes (le type d'aménagement, le linéaire total, etc.). Se référer au document général de présentation pour plus d'informations.</li>
            <li> Les notes des villes ne sont pas toutes comparables entre elles, notamment du fait du total de km de voirie.</li>
            <li> Barème : Double sens cyclable : 0,5 pt, bandes cyclables : 1 pt, Couloir bus-vélo : 2 pts, Vélorue, Secteur borné : 3 pts, Voie verte : 4 pts, Piste cyclable séparée : 5 pts</li>
        </ul>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">
                    Note début de mandat
                </div>
                <div class="reponse">
                    {{ data.bilanAmenagement.noteDebutMandat }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Note fin de mandat
                </div>
                <div class="reponse">
                    {{ data.bilanAmenagement.noteFinMandat }}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">
                    Évolution sur le mandat
                </div>
                <div class="reponse">
                    {{ data.bilanAmenagement.evolutionSurLeMandat|round }}%
                </div>
            </div>
        </div>
        <h3>Intermodalité</h3>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">Parking P+V (Vélostations projetées)
                    <p class="question-legend">
                        Présence d'un bâtiment avec service pour cyclistes, où l'on arrivera en voiture pour repartir à vélo)
                    </p>
                </div>
                <div class="reponse">{{ data.bilanIntermodalite.pVVelostationsProjetees ? 'Oui' : 'Non' }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Parking P+V (abri vélo)
                    <p class="question-legend">
                        Présence d'un simple abri vélo (sans confort).
                    </p>
                </div>
                <div class="reponse">{{ data.bilanIntermodalite.pVAbriVelo ? 'Oui' : 'Non'  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Gare - vélo station (avec intentions)
                    <p class="question-legend">
                        Nombre de places de stationnement vélo dans un bâtiment de la gare.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanIntermodalite.gareVeloStationAvecIntentions }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Gare - abris vélo</div>
                <div class="reponse">{{ data.bilanIntermodalite.gareAbrisVelo }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Gare - Arceaux</div>
                <div class="reponse">{{ data.bilanIntermodalite.gareArceaux }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Metstation
                    <p class="question-legend">
                        <a href="https://www.mtpk.fr/service/metstation/">https://www.mtpk.fr/service/metstation/</a>
                    </p>
                </div>
                <div class="reponse">{{ data.bilanIntermodalite.metstation ? 'Oui' : 'Non' }}</div>
            </div>
        </div>
        <h3>Ville apaisée</h3>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">Nouveaux secteurs à circulation restreinte
                    <p class="question-legend">
                        Nouvelles zones sans véhicules motorisés.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanVilleApaisee.nouveauxSecteursCircuRestreinte  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Plan de circulation
                    <p class="question-legend">
                        Plan de circulation ayant pour objectif de réduire / supprimer le trafic de transit.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanVilleApaisee.planDeCirculation ? 'Oui' : 'Non'  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Réduction du nombre de places de stationnement auto</div>
                <div class="reponse">{{ data.bilanVilleApaisee.reductionStationnementAuto ? 'Oui' : 'Non'  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Ville à 30</div>
                <div class="reponse">{{ data.bilanVilleApaisee.villeA30 ? 'Oui' : 'Non'  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Arceaux pour 1000 habitants</div>
                <div class="reponse">{{ data.bilanVilleApaisee.arceauxPour1000Hab }}</div>
            </div>
        </div>
        <h3>Génération vélo</h3>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">Nombre de rues aux enfants
                    <p class="question-legend">
                        {% if data.bilanGenerationVelo.nbEcoles != 1 %}
                            Écoles dont les rues sont (temporairement ou non) fermées aux voitures / Nombre total d'écoles
                        {% else %}
                            Pourcentage des écoles dont les rues sont (temporairement) fermées aux voitures
                        {% endif %}
                    </p>
                </div>
                <div class="reponse">
                    {% if data.bilanGenerationVelo.nbEcoles != 1 %}
                        {{ data.bilanGenerationVelo.nbRuesAuxEnfant }} / {{ data.bilanGenerationVelo.nbEcoles }}
                        ({{ ((data.bilanGenerationVelo.nbRuesAuxEnfant / data.bilanGenerationVelo.nbEcoles)*100)|number_format }} %)
                    {% else %}
                        0%
                    {% endif %}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">Nombre de rues aux enfants futures
                    <p class="question-legend">
                        {% if data.bilanGenerationVelo.nbEcoles != 1 %}
                            Nombre projeté d'écoles (aujourd'hui ou demain) sans voiture / Nombre total d'écoles
                        {% else %}
                            Pourcentage projeté d'école (aujourd'hui ou demain) sans voiture
                        {% endif %}
                    </p>
                </div>
                <div class="reponse">
                    {% if data.bilanGenerationVelo.nbEcoles != 1 %}
                        {{ data.bilanGenerationVelo.nbRuesAuxEnfantFuturs + data.bilanGenerationVelo.nbRuesAuxEnfant }} / {{ data.bilanGenerationVelo.nbEcoles }}
                        ({{ ((data.bilanGenerationVelo.nbRuesAuxEnfantFuturs + data.bilanGenerationVelo.nbRuesAuxEnfant) / data.bilanGenerationVelo.nbEcoles*100)|number_format }} %)
                    {% else %}
                        0%
                    {% endif %}
                </div>
            </div>
            <div class="question-reponse">
                <div class="info">Excursion à vélo</div>
                <div class="reponse">{{ data.bilanGenerationVelo.excursion ? 'Oui' : 'Non' }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Pédibus/vélobus
                    <p class="question-legend">
                        Ramassage scolaire à pied ou à vélo.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanGenerationVelo.pedibusVelobus ? 'Oui' : 'Non'  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">SRAV
                    <p class="question-legend">
                        Déploiement du dispositif « Savoir Rouler à Vélo » dans les écoles.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanGenerationVelo.srav  }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Projets en cours (SRAV)</div>
                <div class="reponse">{{ data.bilanGenerationVelo.projetEnCours ? 'Oui' : 'Non'}}</div>
            </div>
        </div>
        <h3>Action mairie (en bonus)</h3>
        <div class="toutes-les-infos">
            <div class="question-reponse">
                <div class="info">Rencontre régulière association vélo
                    <p class="question-legend">
                        Rencontre régulière avec Vélo-Cité ou une autre maison du vélo.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanActionsMairie.rencontreReguliereAsso ? 'Oui' : 'Non' }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Journée sensibilisation
                    <p class="question-legend">
                        Journée de sensibilisation à la pratique du vélo.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanActionsMairie.journeeSensibilisation ? 'Oui' : 'Non' }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Plan vélo
                    <p class="question-legend">
                        Plan vélo à l'échelle de la ville.
                    </p>
                </div>
                <div class="reponse">{{ data.bilanActionsMairie.planVelo ? 'Oui' : 'Non' }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Forfait mobilité auprès des agent·es</div>
                <div class="reponse">{{ data.bilanActionsMairie.forfaitMobiliteAgent ? 'Oui' : 'Non' }}</div>
            </div>
            <div class="question-reponse">
                <div class="info">Prêt vélo auprès des agent·es</div>
                <div class="reponse">{{ data.bilanActionsMairie.pretVeloAgent ? 'Oui' : 'Non' }}</div>
            </div>
        </div>
        <div style='page-break-after: always;'> </div>

        <h2>Carte du mandat</h2>
        <div class="gridCarte">
            <div>
                <h3>Aires piétonnes</h3>
                {% set img = data.city~'/aires_pietonnes' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>
            <div>
                <h3>Bandes cyclables</h3>
                {% set img = data.city~'/bandes_cyclables' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>
            <div>
                <h3>Les couloirs bus</h3>
                {% set img = data.city~'/couloirs_bus' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>
            <div style='page-break-after: always;'>
                <h3>Les pistes cyclables</h3>
                {% set img = data.city~'/pistes_cyclables' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>

            <div>
                <h3>Les vélorues</h3>
                {% set img = data.city~'/velorue' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>
            <div>
                <h3>Les voies vertes</h3>
                {% set img = data.city~'/voies_vertes' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>
            <div>
                <h3>Les zones de rencontre</h3>
                {% set img = data.city~'/zone_rencontre' %}
                <img src="{{ asset('cartes/'~img~'.png') }}" width="100%" height="auto" alt="" />
            </div>
        </div>
    </div>
{% endblock %}
